
.content{
    margin-top: 5%;
    width: 85.5%;
    position: absolute;
    right: 1%;
    text-align: center;
}

form{
    background-image: url(../img/Form.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 1px;
    border-radius: 11px;
    height: 520px;
    width: 800px;
    margin: 5% auto;
}

form span{
    color: black;
}

form input{
    display: block;
    text-align: center;
    width: 20%;
    margin: 2% auto;
}

.Form_content{
    margin: 25% auto;
}

#l_submit{
    margin-top: 12%;
    background-image: url(../img/Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 157px;
    width: auto;
    height: 47px;
    border: transparent;
    background-color: transparent;
}

#l_submit:hover{
    background-image: url(../img/Button_Hover.png);
}