#menu{
    position: fixed;
    top: 0px;
    left: 0%;
    height: 100%;
    width: 9%;
    min-width: max-content;
    background-color: black;
    border-right: solid white 1px;
    transition-duration: 1s;
    text-align: center;

}

#show_hide_menu{
    position: fixed;
    top: 0px;
    left: 9%;
    height: 35px;
    min-width: 25px;
    width: auto;
    background-color: black;
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    transition-duration: 1s;
}

#menu_button{
    margin: 0.1% 15%;
    min-width: 222px;
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 0px;
}

#menu_button li{
    min-width: max-content;
    display: block;
    width: auto;
    min-height: 67px;
    height: auto;
    margin: 8% auto;
    text-align: center;
    background-image: url(../img/Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    line-height: 67px;
}

#menu_button li:hover{
    background-image: url(../img/Button_Hover.png);
}

#User_Infos{
    min-width: max-content;
    width: 70%;
    background-color: black;
    border: solid white 2px;
    border-radius: 20px;
    margin: 5% auto;
    padding: 5%;
    color: white;
}

#User_Username, #Character_Infos{
    margin: 5% 0%;
}

#User_character{
    margin: 5% auto 8% auto;
}

#change_character_button{
    margin: 10% auto 5% auto;
    padding: 1%;
    text-align: center;
    background-image: url(../img/Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    width: 100%;
    max-width: 115px;
    height: 31.5px;
    line-height: 31.5px;
}

#change_character_button:hover{
    background-image: url(../img/Button_Hover.png);
}

#User_character_Health, #User_character_Attack, #User_character_Defense{
    margin: 3% auto;
}

#User_character_Health{
    color: rgb(253, 70, 38);
}

#User_character_Attack{
    color: rgb(184, 0, 0);
}

#User_character_Defense{
    color: rgb(185, 185, 0);
}