*{
    margin: 0%;
    padding: 0%;
}

/* Set Custom Font */
@font-face {
	font-family: "Genshin_Impact";
    src: url(../font/Genshin_Impact_Font.ttf);
}

html{
    background-image: url(../img/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Genshin_Impact";
}

#footer{
    margin-top: 15%;
    width: 100%;
    position: static;
    bottom: 0px;
    background-color: black;
    padding: 0.5% 0%;
    text-align: center;
    color: white;
    font-size: medium;
}

#content{
    margin: 6% auto ;
    background-color:transparent;
    border: transparent 1px;
    width: 65%;
    text-align: center;
    color: white;
}

#content h1{
    font-style: italic;
    margin: 2% 0%;
}

#content h2{
    margin: 4% 0%;
}

#WELCOME{
    margin: 1%;
    height: auto;
    width: 800px;
}

.Login_Form, .Register_Form{
    background-image: url(../img/Form.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 1px;
    border-radius: 10px;
    max-width: 779px;
    width: auto;
    height: 505px;
    margin: 6% auto;
}

#R_Username, #L_Username{
    margin: 12% auto 1% auto;
}

#R_Password, #L_Password{
    margin: 5% auto;
}

#R_Username, #R_Password, #L_Username, #L_Password{
    display: block;
    padding: 0% 2%;
    text-align: center;
    width: 35%;
    min-width: max-content;
    height: auto;
    min-height: 35px;
    font-family: "Genshin_Impact";
}

#R_Submit, #L_Submit{
    min-width: max-content;
    margin: 4% auto 2% auto;
    width: 209px;
    height: auto;
    min-height: 63px;
    background-color: transparent;
    background-image: url(../img/Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid transparent 1px;
    font-family: "Genshin_Impact";
}

#R_Submit:hover, #L_Submit:hover{
    background-image: url(../img/Button_Hover.png);
    border: solid transparent 1px;
}

#LoginError, #RegisterError{
    color: black;
    text-shadow: white 1px 1px;
    font-size: large;
    margin: 11%;
}

#ChooseButton, #Battle_button{
    display: block;
    min-width: max-content;
    margin: 4% auto 2% auto;
    width: 215px;
    height: auto;
    min-height: 69px;
    background-color: transparent;
    background-image: url(../img/Button.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: solid transparent 1px;
    font-family: "Genshin_Impact";
}

#ChooseButton:hover, #Battle_button:hover{
    background-image: url(../img/Button_Hover.png);
    border: solid transparent 1px;
}